<template>
  <q-page>
    <div class="row">
      <div class="col-12 row items-center">
        <div class="row q-ma-sm col-8">
        <q-select
            outlined
            v-model="item.name"
            use-input
            dense
            hide-selected
            fill-input
            input-debounce="300"
            :options="options"
            @filter="filterFn"
            class="col-4 bg-white q-mr-sm"
        >
          <template v-slot:no-option>
            <q-item>
                <q-item-section class="text-grey">
                No results
                </q-item-section>
            </q-item>
          </template>
          <template v-if="item.name" v-slot:append>
            <q-icon name="cancel" @click="cleanItem" class="cursor-pointer" />
          </template>
        </q-select>
        <q-input outlined v-model="item.amount" dense :suffix="item.maxAmount ? item.maxAmount.toString() : '0'" type="number" min="0" class="col-2 q-mr-sm bg-white"/>
        <q-input outlined v-model="item.buyPrice" dense suffix="сум" class="col-3 q-mr-sm bg-white"/>

        <!-- <q-input outlined v-model="text" class="bg-white col-6" dense label="Штрих-код" /> -->
          <q-btn
            v-if="$q.screen.gt.xs"
            outline
            color="green"
            label="Добавить"
            class="q-ml-xs bg-white text-weight-bold"
            @click="addItem"
            :disable="item.amount == 0 || item.amount == null"
          ></q-btn>
        </div>
        <q-space/>
        <!-- <div class="q-ma-sm">
           <q-btn-dropdown
          outline
          dense
          color="primary"
          icon="filter_list"
          class="bg-white"
          label="Add Filter"
        >
          <q-list>
            <q-item clickable v-close-popup>
              <q-item-section>
                <q-item-label>Filter 1</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
        </div> -->


        <!-- <q-input class="float-right q-mt-sm q-mr-sm bg-white" v-model="search" label="Search here" outlined dense
                 style="width: 35%">
          <template v-slot:append>
            <q-icon v-if="search !== ''" name="close" @click="search = ''" class="cursor-pointer"/>
            <q-icon name="search"/>
          </template>
        </q-input> -->
      </div>
    </div>
    <div class="col-3 q-px-xs">
      <div class="q-pa-xs">
        <!-- <q-item style="background-color: #5e5e5e;border-top-left-radius: 4px;border-top-right-radius: 4px;"
                class="q-pa-none text-white q-pa-sm">
          <q-item-section avatar style="min-width:25px">
            <q-icon name="assignment" class="q-pa-none q-ma-none"/>
          </q-item-section>
          <q-item-section class="text-h6 text-weight-bolder">Продукты</q-item-section>
          

          <q-item-section avatar>
            <q-icon name="more_vert" class="cursor-pointer">
              <q-menu transition-show="rotate" transition-hide="rotate">
                <q-list style="min-width: 100px">
                  <q-item clickable>
                    <q-item-section>Mark all as completed</q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section>Mark all as in progress</q-item-section>
                  </q-item>
                  <q-item clickable>
                    <q-item-section>Mark all as hold</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-icon>
          </q-item-section>
        </q-item> -->
        <q-item style="background-color: #5e5e5e;border-top-left-radius: 4px;border-top-right-radius: 4px;"
                class="text-white q-pa-sm col-12">
          <q-item-section class="text-subtitle text-weight-bolder col-2 text-center">
            <div>
              <q-icon name="assignment" class="text-h6 items-center" style="padding-bottom: 2px;"/>
            Штрих-код
            </div>
          </q-item-section>
          <q-item-section class="text-subtitle text-weight-bolder col-2 text-center">Название</q-item-section>
          <q-item-section class="text-subtitle text-weight-bolder col-2 text-center">Кол-во</q-item-section>
          <!-- <q-item-section class="text-subtitle text-weight-bolder col-2 text-center">Ед. Измерения</q-item-section> -->
          <q-item-section class="text-subtitle text-weight-bolder col-2 text-center">Цена покупки</q-item-section>
          <q-item-section class="text-subtitle text-weight-bolder col-2 text-center">Всего</q-item-section>


          <q-item-section class="text-subtitle text-weight-bolder col-2 text-center">
            <div>
              Действия
            <q-icon name="more_vert" class="text-h6 cursor-pointer" style="padding-bottom: 2px;">
              <q-menu transition-show="rotate" transition-hide="rotate">
                <q-list style="min-width: 170px;">
                  <q-item clickable v-if="getItems.length != 0">
                    <q-item-section class="text-subtitle2">Оплатить частично</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-icon>
            </div>
          </q-item-section>
            <!-- <q-item-section avatar>
            
          </q-item-section> -->

        </q-item>
        <draggable
          class="list-group"
          v-bind="dragOptions"
          @start="drag = true"
          @end="drag = false"
        >
        <div v-if="getItems.length != 0">
          <q-list v-for="(element, index) in getItems" :key="index" bordered class="rounded-borders cursor-move">
            <q-item class="bg-white col-12">
              <q-item-section style="font-size: 14px;" class="text-grey-9 col-2 text-center">
                {{element.barcode}}
              </q-item-section>
              <q-item-section style="font-size: 14px;" class="text-grey-9 col-2 text-center">
                {{element.name}}
              </q-item-section>
              <q-item-section style="font-size: 14px;" class="text-grey-9 col-2 text-center">
                {{element.amount}} {{element.measure}}
              </q-item-section>
              <q-item-section style="font-size: 14px;" class="text-grey-9 col-2 text-center">
                {{element.buyPrice}} сум
              </q-item-section>
              <q-item-section style="font-size: 14px;" class="text-grey-9 col-2 text-center">
                {{totalCalculate(index)}} сум
              </q-item-section>
              <q-item-section style="font-size: 14px;" class="text-grey-9 col-2 text-center">
                <div>
                  <q-btn size="12px" color="green" flat dense round icon="edit" @click="editItem(index)"/>
                  <q-btn size="12px" color="red" flat dense round icon="delete" @click="removeItem(element._id)"/>
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        </draggable>
      </div>
      <div class="q-pa-xs">
        <q-list>
           <q-item style="background-color: #5e5e5e;"
                class="text-white q-pa-sm col-12 justify-end">
              <!-- <q-item-section class="text-subtitle text-weight-bolder col-4 text-center">
                Оплачено: {{payedTotal}} сум
              </q-item-section> -->
              <!-- <q-item-section class="text-subtitle text-weight-bolder col-4 text-center">
                Неоплачено: {{unPayedTotal}} сум
              </q-item-section> -->
              <q-item-section class="text-subtitle text-weight-bolder col-2 text-center">
                Всего к оплате: {{totalToPay}} сум
              </q-item-section>
              <q-item-section class="text-subtitle text-weight-bolder col-1 row items-end">
                <q-btn
                  v-if="getItems.length != 0"
                  outline
                  color="green"
                  label="Оплатить"
                  class="bg-white text-weight-bold"
                  @click.prevent="beforePayment"
                ></q-btn>
              </q-item-section>
            </q-item>
        </q-list>
      </div>
    </div>

    <q-dialog v-model="dialogEdit" persistent position="left">
      <q-card>
        <q-card-section>
          <div class="text-h6 text-weight-bold q-pl-sm">Редактирование</div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form class="row full-width">
            <q-input filled v-model="item.amount" type="number" min="0" label="Кол-во" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.buyPrice" label="Цена покупки" suffix="сум" class="col-6 q-pa-sm"/>
            <!-- <q-input filled v-model="item.payed" label="Оплачено" suffix="сум" class="col-6 q-pa-sm"/> -->
            <!-- <q-input filled v-model="item.unPayed" label="Неоплачено" suffix="сум" class="col-6 q-pa-sm"/> -->

            <div class="col-12 row justify-end q-pa-sm">
              <q-btn @click="cleanItem" v-close-popup label="Отменить" color="primary"/>
              <q-btn
                class="q-ml-sm"
                label="Изменить"
                type="submit"
                color="green"
                @click.prevent="updateItem"
                :disable="item.amount == 0"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dialogPay" persistent>
      <q-card>
        <q-card-section>
          <div class="text-h6 text-weight-bold q-pl-sm">Оплата</div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form class="row full-width">

             <q-input filled v-model="item.date" class="col-12 q-pa-sm">
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date v-model="item.date" mask="YYYY-MM-DD HH:mm:ss" today-btn>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Применить" color="primary" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-time v-model="item.date" mask="YYYY-MM-DD HH:mm:ss" now-btn>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Применить" color="primary" flat />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <q-input filled v-model="item.customer_name" label="Покупатель" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.payed" readonly label="Общая Cумма" suffix="сум" class="col-6 q-pa-sm"/>
            <!-- <q-input filled v-model="item.about" label="Описание" autogrow class="col-12 q-pa-sm"/> -->

            <div class="col-12 row justify-end q-pa-sm">
              <q-btn @click="cleanItem" v-close-popup label="Отменить" color="primary"/>
              <q-btn
                @click.prevent="payment"
                class="q-ml-sm"
                label="Оплатить"
                type="submit"
                color="green"
                :disable="item.customer_name == ''"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- {{getItems}} -->
  </q-page>
</template>

<script>
    import Vue from "vue";
    import { mapGetters, mapActions } from 'vuex';
    import draggable from "vuedraggable";
    import {Notify} from "quasar";
    import moment from 'moment';

    Vue.component("draggable", draggable);

    export default {
        name: "PageIndex",
        data() {
            return {
              dialogEdit: false,
              dialogPay: false,
              itemOldName: '',
              totalToPay: '',
              item: {
                barcode: '',
                name: '',
                amount: null,
                measure: '',
                buyPrice: '',
                payed: '',
                about: '',
                maxAmount: 0
              },
              options: [],
              drag: false,
            };
        },
        watch:{
          'item.name':{
            async handler(value){
              if(value == ''){
                this.itemOldName = ''
              }
              if((value != '') && (this.products.length != 0) && (this.itemOldName != value)){
                this.itemOldName = value
                let chosenProduct = await this.products.filter((element) => element.name == value)
                let remained = await this.GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_AMOUNT({id: chosenProduct[0]._id});
                // let remained = await this.totalAmountRemained
                this.item = Object.assign({barcode: chosenProduct[0].barcode, name: chosenProduct[0].name, amount: 1,
                measure: chosenProduct[0].measure, buyPrice: chosenProduct[0].sellPrice, product_id: chosenProduct[0]._id,
                about: chosenProduct[0].about, maxAmount: remained})
                // await this.checkForChoosed
              } 
            },deep: true
          },
          'item.buyPrice': {
            async handler(value){
              if(value != '' && this.dialogDelete != true){
                let buyPrice = this.item.buyPrice.replace(/[^0-9]/g,'');
                buyPrice = buyPrice.toString()
                buyPrice = buyPrice.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
                this.item.buyPrice = buyPrice
              }
            },deep: true
          },
          'item.amount':{
            async handler(value){
              if((value != 0) && (value > this.item.maxAmount)){
                this.item.amount = 0;
              }
            },deep: true
          },
          'item.payed': {
            async handler(value){
              if(value != null){
                let payed = this.item.payed.replace(/[^0-9]/g,'');
                payed = payed.toString()
                payed = payed.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
                this.item.payed = payed
              }
            },deep: true
          },
        },
        async mounted(){
          await this.GET_ITEMS();
          this.totalToPay = await this.totalToPayCalculate
        },
        computed: {
          ...mapGetters([
            'getAllProducts', 'getProductsOfCustomers', 'getProductDetailOfProducer', 'getCustomers', 'getItems'
          ]),
          dragOptions() {
              return {
                  animation: 200,
                  group: "description",
                  disabled: false,
                  ghostClass: "ghost"
              };
          },
          // async totalAmountRemained(){    
          // let total_amount_remained = 0;
          //   for(let i = 0; i < this.getProductDetailOfProducer.length; i++){
          //     let amountLeft = parseInt(this.getProductDetailOfProducer[i].amountLeft);
          //     total_amount_remained = total_amount_remained + amountLeft
          //   }
          //   return total_amount_remained
          // },

          // async checkForChoosed(){
          //   console.log(this.getItems);
          //   for(let i = 0; i < this.getItems.length; i++){
          //     if(this.getItems[i].product_id == this.item.product_id){
          //       this.item.maxAmount = this.item.maxAmount - this.getItems[i].amount
          //     }
          //   }
          //   console.log(this.item);
          // },
          getNowDateAndTime(){
              let datetime = moment().format('YYYY-MM-DD hh:mm:ss');
              return datetime;
          },
          async totalToPayCalculate(){
            let totalUnPayed = 0;
            if(await this.getItems.length != 0){
              for(let i = 0; i < this.getItems.length; i++){
                let buyPrice = parseInt(this.getItems[i].buyPrice.replace(/[^0-9]/g,''));
                totalUnPayed = totalUnPayed + (this.getItems[i].amount * buyPrice)
              }
              totalUnPayed = totalUnPayed.toString()
              totalUnPayed = totalUnPayed.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
              return totalUnPayed
            }else{
              return 0
            }
            return totalUnPayed
          },
        
        },
        methods: {
           ...mapActions([
                'FILTER_PRODUCTS_OF_PRODUCERS_BY_NAME', 'GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_AMOUNT', 'ADD_ITEM', 'REMOVE_ITEM',
                'ADD_CUSTOMER_PURCHASE', 'DECREASE_AMOUNT_OF_PRODUCTS', 'REMOVE_ALL_ITEMS', 'GET_ITEMS', 'UPDATE_ITEM'
            ]),
           filterFn (val, update, abort) {
                update(async () => {
                    if(val.length >= 2){
                      this.products = await this.FILTER_PRODUCTS_OF_PRODUCERS_BY_NAME(val)
                      this.options = this.products.map((element) => element.name)
                    }
                })
            },
            totalCalculate(index){
              let totalPay = 0;
              if(this.getItems.length != 0){
                let buyPrice = parseInt(this.getItems[index].buyPrice.replace(/[^0-9]/g,''));
                totalPay = this.getItems[index].amount * buyPrice
                totalPay = totalPay.toString()
                totalPay = totalPay.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
              }
              return totalPay
            },
            cleanItem() {
              this.item = Object.assign({
                barcode: '',
                name: '',
                amount: null,
                measure: '',
                buyPrice: '',
                payed: '',
                about: '',
                maxAmount: 0
              })
            },
            async addItem(){
              await this.ADD_ITEM(this.item)
              await this.GET_ITEMS();
              await this.cleanItem();
              this.totalToPay = await this.totalToPayCalculate
            },
            async removeItem(id){
              await this.REMOVE_ITEM(id);
              await this.GET_ITEMS();
              await this.cleanItem();
              this.totalToPay = await this.totalToPayCalculate
            },
            async beforePayment(){
              this.dialogPay = !this.dialogPay
              this.item = {};
              this.item = Object.assign({
                // about: '',
                customer_name: '',
                date: this.getNowDateAndTime,
                payed: this.totalToPay,
              })
            },
            async payment(){
              let product = this.getItems;
              for(let i = 0; i < this.getItems.length; i++){
                await this.DECREASE_AMOUNT_OF_PRODUCTS(this.getItems[i]);
                product[i].date = this.item.date
                product[i].customer_name = this.item.customer_name
                await this.ADD_CUSTOMER_PURCHASE(product[i]);
              }
              await this.REMOVE_ALL_ITEMS();
              await this.GET_ITEMS();
              await this.cleanItem();
              this.dialogPay = !this.dialogPay
            },
            editItem(index){
              this.dialogEdit = !this.dialogEdit
              this.item = {};
              this.item = Object.assign({
                // barcode: this.getItems[index].barcode,
                // name: this.getItems[index].name,
                amount: this.getItems[index].amount,
                // measure: this.getItems[index].measure,
                buyPrice: this.getItems[index].buyPrice,
                // date: this.getItems[index].date,
                // payed: this.getItems[index].payed,
                // unPayed: this.getItems[index].unPayed,
                // about: this.getItems[index].about,
                id: this.getItems[index]._id
              })
            },
            async updateItem(){
              await this.UPDATE_ITEM(this.item)
              await this.GET_ITEMS();
              await this.cleanItem();
              this.totalToPay = await this.totalToPayCalculate
              this.dialogEdit = !this.dialogEdit
            },
            // this.$q.notify({
            //         type: "positive",
            //         message: `The new task is added successfully.`
            //     });
            // deleteTask(task_lane, index) {
            //     this[task_lane].splice(index, 1);
            // },
        }
    };
</script>

<style scoped>
  .ghost {
    opacity: 0.5;
    background: #c8ebfb;
  }
  .cursor-move {
    cursor: move;
  }
</style>
