<template>
  <q-page>
    <div class="row">
      <div class="col-12 q-pa-sm">
        <!-- <q-btn icon="arrow_back" class="bg-white q-mr-sm" outline style="color: grey;" :to="`/producer/products/${uid}`"></q-btn> -->
        <!-- <q-btn
          v-if="$q.screen.gt.xs"
          outline
          dense
          icon="add"
          color="green"
          label="Добавить"
          class="bg-white q-pr-sm text-weight-bold"
          @click="add_new = !add_new"
        ></q-btn>
        <q-btn-dropdown
          outline
          dense
          color="primary"
          icon="filter_list"
          class="bg-white q-ml-sm text-weight-bold"
          label="Фильтры"
        >
          <q-list>
            <q-item clickable v-close-popup>
              <q-item-section>
                <q-item-label>Фильтр 1</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown> -->


        <!-- <q-input class="float-right q-mt-sm q-mr-sm bg-white" v-model="search" label="Search here" outlined dense
                 style="width: 35%">
          <template v-slot:append>
            <q-icon v-if="search !== ''" name="close" @click="search = ''" class="cursor-pointer"/>
            <q-icon name="search"/>
          </template>
        </q-input> -->
      </div>
    </div>


    <div class="col-12 q-ma-sm">
       <!-- :filter="filter" -->
      <!-- :loading="loading" -->
      <q-table
      dense
      separator="cell"
      row-key="index"  
      :data="data" 
      :columns="columns"
      :loading="loading"
      :filter="filter"
      :rows-per-page-options="[0]"
      :pagination.sync="pagination"
      hide-pagination
      >
      <!-- :pagination-label="(firstRowIndex, endRowIndex, totalRowsNumber) => firstRowIndex + ' - ' + endRowIndex " -->
      <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <!-- <q-btn dense round flat color="grey" @click="editRow(props.row)" icon="edit"></q-btn> -->
            <!-- <q-btn dense round flat color="grey" @click="dialogAccept = !dialogAccept" icon="library_add_check"></q-btn> -->
            <!-- <q-btn dense round flat color="grey" icon="info" ></q-btn>  -->
            <q-btn dense round flat color="grey" @click="deleteRow(props.row)" icon="delete"></q-btn>
          </q-td>
      </template>
    
      <template v-slot:top="props">
        <q-icon name="history" class="text-grey-7 text-h4"></q-icon>
        <span class="text-h6 q-ml-sm text-grey-9 text-weight-bold">История</span>
        <q-space />
        <q-input borderless dense debounce="300" color="primary" v-model="filter"
         placeholder="Искать" style="border: 1px solid silver; padding: 0 10px; border-radius: 5px;">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn flat class="q-ml-sm" style="font-size: 12px;" @click="reloadHistory">
          <q-icon name="refresh" :color="refreshColor"></q-icon>
        </q-btn>
        <q-btn
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        />
      </template>
      <template v-slot:bottom></template>
      
      </q-table>
      <div class="row justify-center q-mt-md">
        <q-pagination
          v-model="pages"
          color="grey-8"
          :max="pagesNumber"
          :max-pages="6"
          :boundary-numbers="false"
          size="sm"
        />
      </div>
    </div>


    <q-dialog v-model="dialogEdit" position="left">
      <q-card>
        <q-card-section>
          <div class="text-h6 text-weight-bold q-pl-sm">Редактирование товара</div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form class="row full-width">
            <q-input filled v-model="item.date" label="Дата покупки" class="col-12 q-pa-sm">
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date v-model="item.date" mask="YYYY-MM-DD HH:mm:ss" today-btn>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Применить" color="primary" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-time v-model="item.date" mask="YYYY-MM-DD HH:mm:ss" now-btn>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Применить" color="primary" flat />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <q-input filled v-model="item.name" label="Название" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.customer_name" label="Покупатель" class="col-6 q-pa-sm"/>

            <q-input filled v-model="item.amount" type="number" label="Кол-во возврата" min="0" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.measure" label="Ед. Измерения" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.buyPrice" suffix="сум" label="Цена покупки" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.total" suffix="сум" readonly label="Всего" class="col-6 q-pa-sm"/>

            <!-- <q-input filled v-model="item.payed" suffix="сум" label="Оплачено" class="col-6 q-pa-sm"/> -->
            <!-- <q-input filled v-model="item.unPayed" label="Неоплачено" suffix="сум" class="col-6 q-pa-sm"/> -->

            
            <div class="col-12 row justify-end q-pa-sm">
              <q-btn v-close-popup @click="cleanItem" label="Отменить" color="primary"/>
              <q-btn
                @click="editProduct"
                class="q-ml-sm"
                label="Изменить"
                type="submit"
                color="green"
                :disable="item.total == '0'"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dialogDelete" persistent transition-show="scale" transition-hide="scale">
      <q-card class="bg-negative text-white" style="width: 300px">
        <q-card-section>
          <div class="text-h6">Удаление!</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Вы уверены что хотите удалить?
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="Нет" v-close-popup />
          <q-btn flat label="Да" v-close-popup @click="deleteProduct"/>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dialogAccept" persistent transition-show="scale" transition-hide="scale">
      <q-card class="bg-info text-white" style="width: 300px">
        <q-card-section>
          <div class="text-h6">Принять возврат?</div>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="Нет" v-close-popup />
          <q-btn flat label="Да" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- {{getHistoryProducts}} -->
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import {VMoney} from 'v-money'
import moment from 'moment'

export default {
    directives: {money: VMoney},
    data() {
        return {
          refreshColor: 'grey-9',
          loading: false,
          money: {
            decimal: '',
            thousands: ',',
            prefix: '',
            suffix: '',
            precision: 0,
            masked: false
          },
          search: '',
          filter: '',
          pages: 1,
          pagination: {
            rowsPerPage: 10,
          },
          add_new: false,
          dialogEdit: false,
          dialogDelete: false,
          error: false,
          dialogAccept: false,
          item: {
            date: '',
            name: '',
            customer_name: '',
            amount: 0,
            measure: '',
            buyPrice: '',
            // payed: '',
            // unPayed: '',
            total: '',
          },
          columns: [
            // { name: 'index', align: 'center', label: 'No#', field: 'index', sortable: true },
            { name: 'date', align: 'center', label: 'Дата покупки', field: 'date', sortable: true },
            { name: 'barcode', align: 'center', label: 'Штрих-код', field: 'barcode', sortable: true },
            { name: 'name', align: 'center', label: 'Название', field: 'name', sortable: true },
            { name: 'customer_name', align: 'center', label: 'Покупатель', field: 'customer_name', sortable: true },

            { name: 'amount', align: 'center', label: 'Кол-во', field: 'amount', sortable: true },
            { name: 'measure', align: 'center', label: 'Ед. Измерения', field: 'measure', sortable: true },
            { name: 'buyPrice', align: 'center', label: 'Цена покупки', field: 'buyPrice', sortable: true },
            { name: 'total', align: 'center', label: 'Всего', field: 'total', sortable: true },

            { name: 'actions', label: 'Действия', field: '', align:'center' },
          ],
          data: [],
        };
    },
    async mounted() {
      await this.GET_HISTORY_PRODUCTS(1);
      await this.refresh();
    },
    watch: {
      pages: async function (newVal, oldVal) {
          await this.GET_HISTORY_PRODUCTS(newVal);
          await this.refresh();
      },
    },
    computed: {
        ...mapGetters([
          'getHistoryProducts', 'getCustomers', 'getProducers'
        ]),
        pagesNumber () {
          let a = Math.ceil(this.getHistoryProducts.totalDocs / this.pagination.rowsPerPage)
          return a
        }
    },
    methods: {
      ...mapActions([
          'ADD_PRODUCER_PRODUCT_DETAIL', 'DELETE_HISTORY_PRODUCT', 'EDIT_HISTORY_PRODUCT', 
          'GET_CUSTOMERS', 'GET_PRODUCERS', 'GET_HISTORY_PRODUCTS', 'GET_NEXT_PAGE_HISTORY'
      ]),
      async reloadHistory() {
        this.refreshColor = 'blue'
        this.loading = true
        await this.GET_HISTORY_PRODUCTS(this.pages);
        await this.refresh();
        this.loading = false
        this.refreshColor = 'grey-9'
      },
      async refresh(){
        this.data = []
        for(let i = 0; i < this.getHistoryProducts.docs.length; i++){
          let product = this.getHistoryProducts.docs[i]
            let buyPrice = parseInt(product.buyPrice.replace(/[^0-9]/g,''));
            product.total = Number(product.amount) * buyPrice
            product.total = product.total.toString()
            product.total = product.total.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")

            product.date = moment(product.date).format('YYYY-MM-DD hh:mm:ss');

            this.data.push(product)
        }
        // this.data.forEach((element, index) => {
          //   element.index = index + 1
        // });
      },
      cleanItem(){
        this.item = Object.assign({
          date: '',
          name: '',
          customer_name: '',
          amount: 0,
          measure: '',
          buyPrice: '',
          total: '',
         })
      },
      async editRow(props){
        this.dialogEdit = !this.dialogEdit
        await this.cleanItem();
        this.item = Object.assign({
          date: props.date,
          name: props.name,
          customer_name: props.customer_name,
          amount: props.amount,
          measure: props.measure,
          buyPrice: props.buyPrice,
          total: props.total,
          id: props._id,
        })
      },
      async editProduct(){
        await this.EDIT_HISTORY_PRODUCT(this.item)
        await this.reloadHistory();
        this.dialogEdit = !this.dialogEdit
      },
      async deleteRow(props){
        this.dialogDelete = !this.dialogDelete
        this.item = {};
        this.item = Object.assign({ id: props._id})
      },
      async deleteProduct(){
        await this.DELETE_HISTORY_PRODUCT(this.item)
        await this.reloadHistory();
        await this.cleanItem();
      },
    }
};
</script>

<style scoped>
.my-table-details {
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  color: #555;
  margin-top: 4px;
}
</style>
