<template>
  <q-page>

    <div class="q-pa-md col-12">
      <div class="col-4">
        <q-icon name="history" class="text-grey-7 text-h4 col-4"></q-icon>
        <span class="text-h6 q-ml-sm text-grey-9 text-weight-bold">Продукты</span>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <q-input class="bg-white" v-model="filter" label="Искать" outlined dense>
          <template v-slot:append>
            <q-icon v-if="search !== ''" name="close" @click="search = ''" class="cursor-pointer"/>
            <q-icon name="search"/>
          </template>
        </q-input>
      </div>
    </div>
    <div class="q-pa-md col-12">
     
      <!-- {{getAllProducts}} -->
    <q-table
      grid
      :data="data"
      :columns="columns"
      row-key="title"
      :filter="filter"
      :pagination.sync="pagination"
      hide-header
      hide-pagination
    >
    </q-table>
  </div>
  <div class="row justify-center q-mt-md">
    <q-pagination
      v-model="pages"
      color="grey-8"
      :max="pagesNumber"
      :max-pages="6"
      :boundary-numbers="false"
      size="sm"
    />
  </div>
     <!-- <transition
          appear
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
        >
        <div class="row col-12 q-pa-sm">
          <q-list v-for="(product,index) in products" :key="index" class="col-2">
              <q-item clickable v-ripple  class="q-mb-sm bg-white">
                  <q-item-section>
                      <q-item-label>{{product.title}} - <span class="text-grey-9">{{product.amount}}{{product.measure}}</span></q-item-label>
                  </q-item-section>
              </q-item>
          </q-list>
        </div>
        <div class="col-12 q-ma-sm">
        </div>
     </transition>
    
    <q-inner-loading :showing="visible">
      <q-spinner-gears size="50px" color="primary" />
      <div>Ведутся технические переработки</div>
    </q-inner-loading> -->
    
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data() {
        return {
          filter: '',
          pages: 1,
          pagination: {
            rowsPerPage: 10,
          },
          columns: [
            { name: 'title', align: 'center', label: 'Название', field: 'title', sortable: true },
            { name: 'measure', align: 'center', label: 'Ед. Измерения', field: 'measure', sortable: true },
            { name: 'amount', label: 'Остаток', field: 'amount', sortable: true },
          ],
          data: [],
          pages: 1,
          products: [],
          visible: true,
          showSimulatedReturnData: true
        };
    },
    async mounted() {
      await this.GET_ALL_PRODUCER_PRODUCTS(1);
      await this.refresh();
      
    },
    watch: {
      pages: async function (newVal, oldVal) {
          await this.GET_ALL_PRODUCER_PRODUCTS(newVal);
          await this.refresh();
      },
    },
    computed: {
        ...mapGetters([
          'getAllProducts'
        ]),
        pagesNumber () {
          let a = Math.ceil(this.getAllProducts.totalDocs / this.pagination.rowsPerPage)
          return a
        },
    },
    methods: {
      ...mapActions([
          'GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_AMOUNT', 'GET_ALL_PRODUCER_PRODUCTS'
      ]),
      async refresh(){
        this.data = []
        this.getAllProducts.docs.forEach(async element => {
          let amount = await this.GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_AMOUNT({id: element._id})
          this.data.push({ title: element.name, measure: element.measure, amount: amount})
        })
      },
    }
};
</script>

<style scoped>
 .myclass{
   padding: 0;
   background-color: white;
 }
</style>
