<template>
  <q-page>
    <div class="row">
      <div class="col-12 q-pa-sm">
        <q-btn icon="arrow_back" class="bg-white q-mr-sm" outline style="color: grey;" :to="`/producer/products/${uid}`"></q-btn>
        <q-btn
          v-if="$q.screen.gt.xs"
          outline
          dense
          icon="add"
          color="green"
          label="Добавить"
          class="bg-white q-pr-sm text-weight-bold"
          @click="add_new = !add_new"
        ></q-btn>
        <q-btn-dropdown
          outline
          dense
          color="primary"
          icon="filter_list"
          class="bg-white q-ml-sm text-weight-bold"
          label="Фильтры"
        >
          <q-list>
            <q-item clickable v-close-popup>
              <q-item-section>
                <q-item-label>Фильтр 1</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup>
              <q-item-section>
                <q-item-label>Фильтр 2</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup>
              <q-item-section>
                <q-item-label>Фильтр 3</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
        <!-- <q-input class="float-right q-mt-sm q-mr-sm bg-white" v-model="search" label="Search here" outlined dense
                 style="width: 35%">
          <template v-slot:append>
            <q-icon v-if="search !== ''" name="close" @click="search = ''" class="cursor-pointer"/>
            <q-icon name="search"/>
          </template>
        </q-input> -->
      </div>
    </div>

    <div class="col-12 q-ma-sm">
      <q-list bordered separator dense class="bg-white text-green-9 text-subtitle1">
        <q-item>
          <q-item-section>
            <div>
              <span>Штрих код: </span> 
              <span class="text-black text-weight-regular">{{product.barcode}}</span>
            </div>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <div>
              <span>Название: </span> 
              <span class="text-black text-weight-regular">{{product.name}}</span>
            </div>
          </q-item-section>
        </q-item>
        <!-- <q-item>
          <q-item-section>
            <div>
              <span>Поставщик: </span> 
              <span class="text-black text-weight-regular">{{getProducerOfProducts}}</span>
            </div>
          </q-item-section>
        </q-item> -->
        <q-item>
          <q-item-section>
            <div>
              <span>Общее кол-во остатка: </span> 
              <span class="text-black text-weight-regular">{{totalRemained}} {{product.measure}}</span>
            </div>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <div>
              <span>Цена продажи: </span>
              <span class="text-black text-weight-regular">{{product.sellPrice}} сум</span>
            </div>
          </q-item-section>
        </q-item>
        <!-- <q-item>
          <q-item-section>
            <div>
              <span>Ед. измерения: </span>
              <span class="text-black text-weight-regular">{{product.measure}}</span>
            </div>
          </q-item-section>
        </q-item> -->
         <q-item>
          <q-item-section>
            <div>
              <span>Оплачено всего: </span> 
              <span class="text-black text-weight-regular">{{totalPayed}} сум</span>
            </div>
          </q-item-section>
        </q-item>
         <q-item>
          <q-item-section>
            <div>
              <span>Неоплачено всего: </span> 
              <span class="text-black text-weight-regular">{{totalUnpayed}} сум</span>
            </div>
          </q-item-section>
        </q-item>
        <q-item>
          <q-item-section>
            <div>
              <span>Описание: </span>
              <span class="text-black text-weight-regular">{{product.description}}</span>
            </div>
          </q-item-section>
        </q-item>
      </q-list>
    </div>

    <div class="col-12 q-ma-sm">
       <!-- :filter="filter" -->
      <!-- :loading="loading" -->
      <q-table
      dense
      separator="cell"
      row-key="index"  
      :data="data" 
      :columns="columns"
      :filter="filter"
      :loading="loading"
      :rows-per-page-options="[0]"
      :pagination.sync="pagination"
      hide-pagination
      >
      <!-- :pagination-label="(firstRowIndex, endRowIndex, totalRowsNumber) => firstRowIndex + ' - ' + endRowIndex + ' из ' + totalRowsNumber" -->
      <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn dense round flat color="grey" @click="editRow(props.row)" icon="edit"></q-btn>
            <!-- <q-btn dense round flat color="grey" icon="info"></q-btn>  -->
            <q-btn dense round flat color="grey" @click="deleteRow(props.row)" icon="delete"></q-btn>
          </q-td>
      </template>
    
      <template v-slot:top="props">
        <q-icon name="shop" class="text-grey-7 text-h4"></q-icon>
        <span class="text-h6 q-ml-sm text-grey-9 text-weight-bold">Продукт {{product.name}}</span>
        <q-space />
        <q-input borderless dense debounce="300" color="primary" v-model="filter"
         placeholder="Искать" style="border: 1px solid silver; padding: 0 10px; border-radius: 5px;">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn flat class="q-ml-sm" style="font-size: 12px;" @click="refresh">
          <q-icon name="refresh" :color="refreshColor"></q-icon>
        </q-btn>
        <q-btn
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        />
      </template>
      
      <template v-slot:bottom></template>
      </q-table>
      <div class="row justify-center q-mt-md">
        <q-pagination
          v-model="pages"
          color="grey-8"
          :max="pagesNumber"
          :max-pages="6"
          :boundary-numbers="false"
          size="sm"
        />
      </div>
    </div>


     <div class="col-12 q-ma-sm" v-if="history">
       <!-- :filter="filter" -->
      <!-- :loading="loading" -->
      <q-table
      dense
      separator="cell"
      row-key="index"  
      :data="data2" 
      :columns="columns"
      :filter="filter"
      :rows-per-page-options="[0]"
      :pagination.sync="pagination"
      hide-pagination
      >
      <!-- :pagination-label="(firstRowIndex, endRowIndex, totalRowsNumber) => firstRowIndex + ' - ' + endRowIndex + ' из ' + totalRowsNumber" -->
      <template v-slot:body-cell-actions="props">
          <q-td :props="props">
            <q-btn dense round flat color="grey" @click="editRow(props.row)" icon="edit"></q-btn>
            <q-btn dense round flat color="grey" icon="info" ></q-btn> 
            <q-btn dense round flat color="grey" @click="deleteRow(props.row)" icon="delete"></q-btn>
          </q-td>
      </template>
    
      <template v-slot:top="props">
        <q-icon name="archive" class="text-grey-7 text-h4"></q-icon>
        <span class="text-h6 q-ml-sm text-grey-9 text-weight-bold">История</span>
        <q-space />
        <q-input borderless dense debounce="300" color="primary" v-model="filter"
         placeholder="Искать" style="border: 1px solid silver; padding: 0 10px; border-radius: 5px;">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn flat class="q-ml-sm" style="font-size: 12px;" @click="refresh">
          <q-icon name="refresh" :color="refreshColor"></q-icon>
        </q-btn>
        <q-btn
          flat round dense
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        />
      </template>
      <template v-slot:bottom></template>
      </q-table>
      <div class="row justify-center q-mt-md">
        <q-pagination
          v-model="pages"
          color="grey-8"
          :max="pagesNumber"
          :max-pages="6"
          :boundary-numbers="false"
          size="sm"
        />
      </div>
    </div>
   
   
    <q-dialog v-model="add_new" position="left">
      <q-card>
        <q-card-section>
          <div class="text-h6 text-weight-bold q-pl-sm">Добавление данных о товаре</div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form class="row full-width">

           <q-input filled v-model="item.date" class="col-12 q-pa-sm">
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date v-model="item.date" mask="YYYY-MM-DD HH:mm:ss" today-btn>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Применить" color="primary" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-time v-model="item.date" mask="YYYY-MM-DD HH:mm:ss" now-btn>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Применить" color="primary" flat />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <q-input filled v-model="item.amount" type="number" label="Кол-во" min="0" class="col-6 q-pa-sm"/>
            <q-input filled v-model.lazy="item.buyPrice" v-money="money" label="Цена покупки" suffix="сум" class="col-6 q-pa-sm"/>
            <!-- <q-input filled v-model.lazy="item.sellPrice" v-money="money" label="Цена продажи" suffix="сум" class="col-6 q-pa-sm"/> -->
            <q-input filled v-model.lazy="item.payed" v-money="money" label="Оплачено" suffix="сум" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.unPayed" label="Неоплачено" suffix="сум" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.about" label="Описание" autogrow class="col-12 q-pa-sm"/>
            
            <div class="col-12 row justify-end q-pa-sm">
              <q-btn v-close-popup @click="cleanItem" label="Отменить" color="primary"/>
              <q-btn
                @click.prevent="addProductToDB"
                class="q-ml-sm"
                label="Добавить"
                type="submit"
                color="green"
                :disable="(item.amount == 0) || (item.unPayed < '0')"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dialogEdit" position="left">
      <q-card>
        <q-card-section>
          <div class="text-h6 text-weight-bold q-pl-sm">Редактирование данных о товаре</div>
        </q-card-section>
        <q-separator/>
        <q-card-section>
          <q-form class="row full-width">
             <q-input filled v-model="item.date" class="col-6 q-pa-sm">
              <template v-slot:prepend>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-date v-model="item.date" mask="YYYY-MM-DD HH:mm:ss" today-btn>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Применить" color="primary" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>

              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-time v-model="item.date" mask="YYYY-MM-DD HH:mm:ss" now-btn>
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Применить" color="primary" flat />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <q-input filled v-model="item.amount" type="number" label="Кол-во (Приход)" min="0" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.amountLeft" type="number" label="Кол-во (Остаток)" min="0" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.buyPrice" suffix="сум" label="Цена покупки" class="col-6 q-pa-sm"/>
            <!-- <q-input filled v-model="item.sellPrice" suffix="сум" label="Цена продажи" class="col-6 q-pa-sm"/> -->
            <q-input filled v-model="item.payed" suffix="сум" label="Оплачено" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.unPayed" label="Неоплачено" suffix="сум" class="col-6 q-pa-sm"/>
            <q-input filled v-model="item.about" label="Описание" autogrow class="col-12 q-pa-sm"/>

            
            <div class="col-12 row justify-end q-pa-sm">
              <q-btn v-close-popup @click="cleanItem" label="Отменить" color="primary"/>
              <q-btn
                @click.prevent="editProduct"
                class="q-ml-sm"
                label="Изменить"
                type="submit"
                color="green"
                :disable="(item.amount == 0) || (item.unPayed < '0')"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dialogDelete" persistent transition-show="scale" transition-hide="scale">
      <q-card class="bg-negative text-white" style="width: 300px">
        <q-card-section>
          <div class="text-h6">Удаление!</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Вы уверены что хотите удалить?
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="Нет" v-close-popup />
          <q-btn flat label="Да" v-close-popup @click.prevent="deleteProduct"/>
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="error" persistent transition-show="scale" transition-hide="scale">
      <q-card class="bg-negative text-white" style="width: 300px">
        <q-card-section>
          <div class="text-h6">Ошибка!</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Данные введены неверно!
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="Ок" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- {{getProductDetailOfProducer}} -->
    <!-- {{getProductDetailOfProducerHistory}}  -->
  </q-page>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import {VMoney} from 'v-money'
import moment from 'moment';

export default {
    props:{
      uid: [String, Number],
      product: [Object]
    },
    directives: {money: VMoney},
    data() {
        return {
          history: false,
          isFullscreen: false,
          totalRemained: 0,
          totalPayed: '0',
          totalUnpayed: '0',
          money: {
            decimal: '',
            thousands: ',',
            prefix: '',
            suffix: '',
            precision: 0,
            masked: false
          },
          search: '',
          filter: '',
          loading: false,
          refreshColor: 'grey-9',
          pages: 1,
          pagination: {
            rowsPerPage: 10,
            sortBy: 'date',
            descending: true,
          },
          add_new: false,
          dialogEdit: false,
          dialogDelete: false,
          error: false,
          item: {
            date: '',
            amount: null,
            amountLeft: null,
            buyPrice: '',
            //sellPrice: '',
            payed: '',
            unPayed: '',
            total: '',
            about: ''
          },
          columns: [
            // { name: 'index', align: 'center', label: 'No#', field: 'index', sortable: true },
            { name: 'date', align: 'center', label: 'Дата', field: 'date', sortable: true },
            { name: 'amount', align: 'center', label: 'Приход', field: 'amount', sortable: true },
            { name: 'amountLeft', align: 'center', label: 'Остаток', field: 'amountLeft', sortable: true },
            { name: 'buyPrice', align: 'center', label: 'Цена покупки', field: 'buyPrice', sortable: true },
            // { name: 'sellPrice', align: 'center', label: 'Цена продажи', field: 'sellPrice', sortable: true },
            { name: 'payed', align: 'center', label: 'Оплачено', field: 'payed', sortable: true },
            { name: 'unPayed', align: 'center', label: 'Неоплачено', field: 'unPayed', sortable: true },
            { name: 'about', align: 'center', label: 'Описание', field: 'about', sortable: true },
            { name: 'actions', label: 'Действия', field: '', align:'center' },
          ],
          data: [],
          data2: [],
          addingToDb: false,
        };
    },
    async mounted() {
      this.refresh();
    },
    watch: {
      'item.amount': {
        async handler(value){
          if(value != 0){
            if(this.item.buyPrice != ''){
              await this.dialogInputsChange();
            }
          }
        },deep: true
      },
      'item.amountLeft': {
        async handler(value){
          if(value != 0 && value > this.item.amount){
            this.item.amountLeft = 0
          }
        },deep: true
      },
      'item.buyPrice': {
        async handler(value){
          if(value != ''){
            await this.dialogInputsChange();
          }
        },deep: true
      },
      'item.payed': {
        async handler(value){
          if(value != ''){
            if(this.item.buyPrice != ''){
              await this.dialogInputsChange();
            }
          }
        },deep: true
      },
      pages: async function (newVal, oldVal) {
          await this.getDetails();
      },
    },
    computed: {
        ...mapGetters([
          'getProductDetailOfProducer', 'getProducers', 'getProductDetailOfProducerHistory'
        ]),
        pagesNumber () {
          let a = Math.ceil(this.getProductDetailOfProducer.totalDocs / this.pagination.rowsPerPage)
          return a
        },
        getProducerOfProducts(){
          return 'sdf'
          // return (this.getProducers.filter(e => e._id == this.uid));
        },
        
    },
    methods: {
      ...mapActions([
          'GET_PRODUCTS_DETAIL_OF_PRODUCER', 'ADD_PRODUCER_PRODUCT_DETAIL', 'DELETE_PRODUCT_DETAIL', 'EDIT_PRODUCT_DETAIL',
          'GET_PRODUCTS_DETAIL_OF_PRODUCER_HISTORY', 'GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_AMOUNT',
          'GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_PAYED', 'GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_UNPAYED'
      ]),
      async refresh(){
        this.totalRemained = await this.GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_AMOUNT({id: this.product._id})
        this.totalPayed = await this.GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_PAYED({id: this.product._id})
        this.totalUnpayed = await this.GET_PRODUCTS_DETAIL_OF_PRODUCER_TOTAL_UNPAYED({id: this.product._id})

        this.refreshColor = 'blue'
        this.loading = true
        await this.getDetails();
        await this.getDetailsHistory();
        this.loading = false
        this.refreshColor = 'grey-9'
      },
      async getDetails(){
        await this.GET_PRODUCTS_DETAIL_OF_PRODUCER({id: this.product._id, page: this.pages});
        this.data = await this.getProductDetailOfProducer.docs

        this.getProductDetailOfProducer.docs.forEach(element => {
          element.date = moment(element.date).format('YYYY-MM-DD hh:mm:ss');
        })
      },
      async getDetailsHistory(){
        await this.GET_PRODUCTS_DETAIL_OF_PRODUCER_HISTORY({product_id: this.product._id, page: 1});
        this.data2 = await this.getProductDetailOfProducerHistory
      },
      dialogInputsChange(){
        if(this.addingToDb == false){
          let buyPrice = this.item.buyPrice.replace(/[^0-9]/g,'');
          let payed = this.item.payed.replace(/[^0-9]/g,'');
          this.item.total = buyPrice * this.item.amount
          this.item.unPayed = (this.item.total - payed)
          let unPayed = this.item.unPayed
          unPayed = unPayed.toString()
          unPayed = unPayed.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
          this.item.unPayed = unPayed
        }
      },
      cleanItem(){
         this.item = Object.assign({
           date: '',
           amount: null,
           amountLeft: null,
           buyPrice: '',
          //  sellPrice: '',
           payed: '',
           unPayed: '',
           total: '',
           about: ''
         })
      },
      async addProductToDB() {
        this.addingToDb = true
        if(this.item.date == '' || this.item.amount == 0 || this.item.buyPrice == '' || //this.item.sellPrice == ''
          this.item.payed == ''){
          this.error = !this.error
        }else{
          let payed = this.item.payed.replace(/[^0-9]/g,'');
          if((payed <= this.item.total)){
            let product = this.item;
            product.product_id = this.product._id
            await this.ADD_PRODUCER_PRODUCT_DETAIL(product)
            await this.refresh();
            await this.cleanItem();
          }else{
            this.error = !this.error
          }
        }
        this.addingToDb = false
      },
      async editRow(props){
        this.dialogEdit = !this.dialogEdit
        await this.cleanItem();
        // let buyPrice = props.buyPrice.replace(/[^0-9]/g,'');
        // let payed = props.payed.replace(/[^0-9]/g,'');
        let unPayed = props.unPayed.replace(/[^0-9]/g,'');
        this.item = Object.assign({
          date: props.date,
          amount: props.amount,
          amountLeft: props.amountLeft,
          buyPrice: props.buyPrice,
          // sellPrice: props.sellPrice,
          payed: props.payed,
          unPayed: unPayed,
          about: props.about,
          did: props._id,
        })
      },
      async editProduct(){
        if(Number(this.item.amountLeft) > Number(this.item.amount)){
          this.error = !this.error
        }else{
          await this.EDIT_PRODUCT_DETAIL(this.item)
          await this.refresh();
          this.dialogEdit = !this.dialogEdit
        }
      },
      async deleteRow(props){
        this.dialogDelete = !this.dialogDelete
        this.item = {};
        this.item = Object.assign({ did: props._id, pid: this.product._id})
      },
      async deleteProduct(){
        await this.DELETE_PRODUCT_DETAIL(this.item)
        await this.refresh();
        
      },
    }
};
</script>

<style scoped>
 
</style>
