<template>
  <q-page>
    <div class="row">
      <div class="col-12 q-pt-sm q-pl-sm row justify-between items-baseline">
       <q-btn
          v-if="$q.screen.gt.xs"
          outline
          dense
          icon="add"
          color="green"
          label="Добавить"
          class="bg-white q-pr-sm text-weight-bold"
          @click="beforeAddNewTask"
        ></q-btn>
        <!-- <q-btn-dropdown
          outline
          dense
          color="primary"
          icon="filter_list"
          class="bg-white q-ml-sm text-weight-bold"
          label="Фильтры"
        >
          <q-list>
            <q-item clickable v-close-popup>
              <q-item-section>
                <q-item-label>Фильтр 1</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup>
              <q-item-section>
                <q-item-label>Фильтр 2</q-item-label>
              </q-item-section>
            </q-item>

            <q-item clickable v-close-popup>
              <q-item-section>
                <q-item-label>Фильтр 3</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown> -->
        <q-input class="q-mt-sm q-mr-sm bg-white" v-model="search" label="Search here" outlined dense
                 style="width: 35%">
          <template v-slot:append>
            <q-icon v-if="search !== ''" name="close" @click="search = ''" class="cursor-pointer"/>
            <q-icon name="search"/>
          </template>
        </q-input>
      </div>
    </div>
    <draggable
      class="row q-mt-xs"
      group="columns"
      v-bind="dragOptions"
      @start="drag = true"
      @end="drag = false"
    >
      <div class="col-3 q-px-xs">
        <div class="q-pa-xs column-background">
          <q-item style="cursor: move;" class="q-pa-none text-white q-pa-sm to-do-title">
            <q-item-section avatar style="min-width:25px">
              <q-icon name="list" class="q-pa-none q-ma-none"/>
            </q-item-section>
            <q-item-section class="text-h6 text-weight-bolder">Нужно сделать</q-item-section>
            <q-item-section avatar>
              <q-icon name="more_vert" class="cursor-pointer">
                <q-menu transition-show="rotate" transition-hide="rotate">
                  <q-list style="min-width: 100px">
                    <q-item clickable>
                      <q-item-section>Mark all as completed</q-item-section>
                    </q-item>
                    <q-item clickable>
                      <q-item-section>Mark all as in progress</q-item-section>
                    </q-item>
                    <q-item clickable>
                      <q-item-section>Mark all as hold</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-icon>
            </q-item-section>
          </q-item>
          <draggable
            class="list-group"
            :list="task_to_do"
            group="tasks"
            v-bind="dragOptions"
            @start="drag = true"
            @end="drag = false"
          >
            <q-card
              square
              v-for="(element, index) in task_to_do"
              v-bind:key="index"
              flat
              bordered
              class="box-shadow cursor-move bg-white q-mt-xs list-group-item border-todo"
              :style="element.task_type=='bug'?'border-left: 5px solid red !important':''"
              @mouseover="task_index.to_do_index = index"
              @mouseleave="task_index.to_do_index = null"
            >
              <q-avatar
                class="q-pa-none"
                size="25px"
                dense
                :class="element.task_type=='bug'? 'bug bottom-right-radius':'feature-to-do bottom-right-radius'"
                text-color="white"
              >
                <q-icon
                  filled
                  size="xs"
                  :name="element.task_type=='bug'? 'bug_report':'assignment'"
                />
              </q-avatar>
              <span class="text-caption text-grey-9 q-ml-xs">
                #{{index + 1}}
                <q-icon
                  filled
                  size="xs"
                  name="close"
                  class="float-right text-weight-bolder text-grey-6"
                  :style="{'visibility':index==task_index.to_do_index?'visible':'hidden'}"
                  @click="deleteTask('task_to_do', task_index.to_do_index)"
                />
                <q-icon
                  filled
                  size="xs"
                  name="edit"
                  class="float-right text-weight-bolder text-grey-6"
                  :style="{'visibility':index==task_index.to_do_index?'visible':'hidden'}"
                  @click="beforeEditTask(element, 'task_to_do', task_index.to_do_index)"
                />
                <!-- <q-avatar class="float-right q-my-md" size="md">
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png"/>
                </q-avatar> -->
              </span>
              <q-card-section class="q-pa-xs">
                <div class="row items-center no-wrap">
                  <div class="col">
                    <div>{{element.title}}</div>
                  </div>
                </div>
              </q-card-section>
              <!-- <q-badge
                outline
                class="q-mx-xs text-bold tag-badge"
                v-bind:key="index"
                v-for="(tag, index) in element.tags"
                :color="tag.color"
              >{{tag.name}}
              </q-badge>
              <q-card-actions>
                <q-btn size="xs" dense filled round color="blue" icon="message"/>
                <q-btn size="xs" dense filled round color="orange" icon="flag"/>
                <q-btn size="xs" dense filled round color="grey" icon="attachment"/>
              </q-card-actions> -->
            </q-card>
          </draggable>
        </div>
      </div>

      <div class="col-3 q-px-xs">
        <div class="q-pa-xs column-background">
          <q-item style="cursor: move;" class="q-pa-none text-white q-pa-sm in-progress-title">
            <q-item-section avatar style="min-width:25px">
              <q-icon name="sync" class="q-pa-none q-ma-none"/>
            </q-item-section>
            <q-item-section class="text-h6 text-weight-bolder">В прогрессе</q-item-section>
            <q-item-section avatar>
              <q-icon name="more_vert" class="cursor-pointer">
                <q-menu transition-show="rotate" transition-hide="rotate">
                  <q-list style="min-width: 100px">
                    <q-item clickable>
                      <q-item-section>Mark all as completed</q-item-section>
                    </q-item>
                    <q-item clickable>
                      <q-item-section>Mark all as in progress</q-item-section>
                    </q-item>
                    <q-item clickable>
                      <q-item-section>Mark all as hold</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-icon>
            </q-item-section>
          </q-item>
          <draggable
            class="list-group"
            :list="task_in_progress"
            group="tasks"
            v-bind="dragOptions"
            @start="drag = true"
            @end="drag = false"
          >
            <q-card
              square
              v-for="(element, index) in task_in_progress"
              v-bind:key="index"
              flat
              bordered
              class="box-shadow cursor-move bg-white q-mt-xs list-group-item border-in-progress"
              :style="element.task_type=='bug'?'border-left: 5px solid red !important':''"
              @mouseover="task_index.in_progress_index = index"
              @mouseleave="task_index.in_progress_index = null"
            >
              <q-avatar
                class="q-pa-none"
                size="25px"
                dense
                :class="element.task_type=='bug'? 'bug bottom-right-radius':'feature-in-progress bottom-right-radius'"
                text-color="white"
              >
                <q-icon
                  filled
                  size="xs"
                  :name="element.task_type=='bug'? 'bug_report':'assignment'"
                />
              </q-avatar>
              <span class="text-caption text-grey-9 q-ml-xs">
                #{{index + 1}}
                <q-icon
                  filled
                  size="xs"
                  name="close"
                  class="float-right text-weight-bolder text-grey-6"
                  :style="{'visibility':index==task_index.in_progress_index?'visible':'hidden'}"
                  @click="deleteTask('task_in_progress', task_index.in_progress_index)"
                />
                <q-icon
                  filled
                  size="xs"
                  name="edit"
                  class="float-right text-weight-bolder text-grey-6"
                  :style="{'visibility':index==task_index.in_progress_index?'visible':'hidden'}"
                  @click="beforeEditTask(element, 'task_in_progress', task_index.in_progress_index)"
                />
                <!-- <q-avatar class="float-right q-my-md" size="md">
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png"/>
                </q-avatar> -->
              </span>
              <q-card-section class="q-pa-xs">
                <div class="row items-center no-wrap">
                  <div class="col">
                    <div class>{{element.title}}</div>
                  </div>
                </div>
              </q-card-section>
              <!-- <q-badge
                outline
                v-bind:key="index"
                class="q-mx-xs text-bold tag-badge tag-badge"
                v-for="(tag, index) in element.tags"
                :color="tag.color"
              >{{tag.name}}
              </q-badge>
              <q-card-actions>
                <q-btn size="xs" dense filled round color="blue" icon="message"/>
                <q-btn size="xs" dense filled round color="orange" icon="flag"/>
                <q-btn size="xs" dense filled round color="grey" icon="attachment"/>
              </q-card-actions> -->
            </q-card>
          </draggable>
        </div>
      </div>

      <div class="col-3 q-px-xs">
        <div class="q-pa-xs column-background">
          <q-item style="cursor: move;" class="q-pa-none text-white q-pa-sm test-title">
            <q-item-section avatar style="min-width:25px">
              <q-icon name="compare_arrows" class="q-pa-none q-ma-none"/>
            </q-item-section>
            <q-item-section class="text-h6 text-weight-bolder">Тестируется</q-item-section>
            <q-item-section avatar>
              <q-icon name="more_vert" class="cursor-pointer">
                <q-menu transition-show="rotate" transition-hide="rotate">
                  <q-list style="min-width: 100px">
                    <q-item clickable>
                      <q-item-section>Mark all as completed</q-item-section>
                    </q-item>
                    <q-item clickable>
                      <q-item-section>Mark all as in progress</q-item-section>
                    </q-item>
                    <q-item clickable>
                      <q-item-section>Mark all as hold</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-icon>
            </q-item-section>
          </q-item>
          <draggable
            class="list-group"
            :list="task_test"
            group="tasks"
            v-bind="dragOptions"
            @start="drag = true"
            @end="drag = false"
          >
            <q-card
              square
              v-for="(element, index) in task_test"
              v-bind:key="index"
              flat
              bordered
              class="box-shadow cursor-move bg-white q-mt-xs list-group-item border-test"
              :style="element.task_type=='bug'?'border-left: 5px solid red !important':''"
              @mouseover="task_index.test_index = index"
              @mouseleave="task_index.test_index = null"
            >
              <q-avatar
                class="q-pa-none"
                size="25px"
                dense
                :class="element.task_type=='bug'? 'bug bottom-right-radius':'feature-test bottom-right-radius'"
                text-color="white"
              >
                <q-icon
                  filled
                  size="xs"
                  :name="element.task_type=='bug'? 'bug_report':'assignment'"
                />
              </q-avatar>
              <span class="text-caption text-grey-9 q-ml-xs">
                #{{index + 1}}
                <q-icon
                  filled
                  size="xs"
                  name="close"
                  class="float-right text-weight-bolder text-grey-6"
                  :style="{'visibility':index==task_index.test_index?'visible':'hidden'}"
                  @click="deleteTask('task_test',task_index.test_index)"
                />
                <q-icon
                  filled
                  size="xs"
                  name="edit"
                  class="float-right text-weight-bolder text-grey-6"
                  :style="{'visibility':index==task_index.test_index?'visible':'hidden'}"
                  @click="beforeEditTask(element, 'task_test', task_index.test_index)"
                />
                <!-- <q-avatar class="float-right q-my-md" size="md">
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png"/>
                </q-avatar> -->
              </span>
              <q-card-section class="q-pa-xs">
                <div class="row items-center no-wrap">
                  <div class="col">
                    <div>{{element.title}}</div>
                  </div>
                </div>
              </q-card-section>
              <!-- <q-badge
                outline
                v-bind:key="index"
                class="q-mx-xs text-bold tag-badge tag-badge"
                v-for="(tag, index) in element.tags"
                :color="tag.color"
              >{{tag.name}}
              </q-badge>
              <q-card-actions>
                <q-btn size="xs" dense filled round color="blue" icon="message"/>
                <q-btn size="xs" dense filled round color="orange" icon="flag"/>
                <q-btn size="xs" dense filled round color="grey" icon="attachment"/>
              </q-card-actions> -->
            </q-card>
          </draggable>
        </div>
      </div>

      <div class="col-3 q-px-xs">
        <div class="q-pa-xs column-background">
          <q-item style="cursor: move;" class="q-pa-none text-white q-pa-sm done-title">
            <q-item-section avatar style="min-width:25px">
              <q-icon name="las la-check-circle" class="q-pa-none q-ma-none"/>
            </q-item-section>
            <q-item-section class="text-h6 text-weight-bolder">Завершено</q-item-section>
            <q-item-section avatar>
              <q-icon name="more_vert" class="cursor-pointer">
                <q-menu transition-show="rotate" transition-hide="rotate">
                  <q-list style="min-width: 100px">
                    <q-item clickable>
                      <q-item-section>Mark all as completed</q-item-section>
                    </q-item>
                    <q-item clickable>
                      <q-item-section>Mark all as in progress</q-item-section>
                    </q-item>
                    <q-item clickable>
                      <q-item-section>Mark all as hold</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-icon>
            </q-item-section>
          </q-item>
          <draggable
            class="list-group"
            :list="task_done"
            group="tasks"
            v-bind="dragOptions"
            @start="drag = true"
            @end="drag = false"
          >
            <q-card
              square
              v-for="(element, index) in task_done"
              v-bind:key="index"
              flat
              bordered
              class="box-shadow cursor-move bg-white q-mt-xs list-group-item border-done"
              :style="element.task_type=='bug'?'border-left: 5px solid red !important':''"
              @mouseover="task_index.done_index = index"
              @mouseleave="task_index.done_index = null"
            >
              <q-avatar
                class="q-pa-none"
                size="25px"
                dense
                :class="element.task_type=='bug'? 'bug bottom-right-radius':'feature-done bottom-right-radius'"
                text-color="white"
              >
                <q-icon
                  filled
                  size="xs"
                  :name="element.task_type=='bug'? 'bug_report':'assignment'"
                />
              </q-avatar>
              <span class="text-caption text-grey-9 q-ml-xs">
                #{{index + 1}}
                <q-icon
                  filled
                  size="xs"
                  name="close"
                  class="float-right text-weight-bolder text-grey-6"
                  :style="{'visibility':index==task_index.done_index?'visible':'hidden'}"
                  @click="deleteTask('task_done',task_index.done_index)"
                />
                <q-icon
                  filled
                  size="xs"
                  name="edit"
                  class="float-right text-weight-bolder text-grey-6"
                  :style="{'visibility':index==task_index.done_index?'visible':'hidden'}"
                  @click="beforeEditTask(element, 'task_done', task_index.done_index)"
                />
                <!-- <q-avatar class="float-right q-my-md" size="md">
                  <img src="https://cdn.quasar.dev/img/boy-avatar.png"/>
                </q-avatar> -->
              </span>
              <q-card-section class="q-pa-xs">
                <div class="row items-center no-wrap">
                  <div class="col">
                    <div class>{{element.title}}</div>
                  </div>
                </div>
              </q-card-section>
              <!-- <q-badge
                outline
                v-bind:key="index"
                class="q-mx-xs text-bold tag-badge tag-badge"
                v-for="(tag, index) in element.tags"
                :color="tag.color"
              >{{tag.name}}
              </q-badge> -->
              <!-- <q-card-actions>
                <q-btn size="xs" dense filled round color="blue" icon="message"/>
                <q-btn size="xs" dense filled round color="orange" icon="flag"/>
                <q-btn size="xs" dense filled round color="grey" icon="attachment"/>
              </q-card-actions> -->
            </q-card>
          </draggable>
        </div>
      </div>
    </draggable>
    <q-dialog v-model="add_new" position="left">
      <q-card style="width: 300px">
        <q-card-section>
          <div class="text-h6">Добавить новую задачу</div>
        </q-card-section>
        <q-separator/>
        <q-card-section class="row items-center no-wrap">
          <q-form class="q-gutter-md full-width">
            <q-input filled v-model="task_item.title" label="Название" class="q-ml-none"/>
            <!-- <q-input filled v-model="task_item.type" autogrow label="Описание" class="q-ml-none"/> -->

            <div class="text-right">
              <q-btn @click="add_new=!add_new" label="Отменить" type="submit" color="primary"/>
              <q-btn
                @click="addNewTask"
                style="width: 90px"
                class="q-ml-sm"
                label="Добавить"
                color="green"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="edit_todo" position="left">
      <q-card style="width: 300px">
        <q-card-section>
          <div class="text-h6">Редактировать задачу</div>
        </q-card-section>
        <q-separator/>
        <q-card-section class="row items-center no-wrap">
          <q-form class="q-gutter-md full-width">
            <q-input filled v-model="task_item.title" label="Название" class="q-ml-none"/>
            <!-- <q-input filled v-model="task_item.type" autogrow label="Описание" class="q-ml-none"/> -->

            <div class="text-right">
              <q-btn @click="edit_todo=!edit_todo" label="Отменить" type="submit" color="primary"/>
              <q-btn
                @click="editTask"
                style="width: 90px"
                class="q-ml-sm"
                label="Изменить"
                color="green"
              />
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
    import Vue from "vue";
    import { mapGetters, mapState, mapActions } from 'vuex';
    import draggable from "vuedraggable";

    Vue.component("draggable", draggable);

    export default {
        name: "PageIndex",
        data() {
            return {
                search: "",
                task_index: {
                    to_do_index: null,
                    in_progress_index: null,
                    test_index: null,
                    done_index: null
                },
                task_item: {},
                add_new: false,
                edit_todo: false,
                edit_name: '',
                edit_index: '',
                drag: false,
                task_to_do: [],
                task_in_progress: [],
                task_test: [],
                task_done: []
            };
        },
        watch: {
          // 'task_to_do':{
          //   async handler(val){
          //     console.log(val);
          //   }, deep: true
          // },
          // 'task_in_progress':{
          //   async handler(val){
          //     console.log(val);
          //   }, deep: true
          // },
          // 'task_test':{
          //   async handler(val){
          //     console.log(val);
          //   }, deep: true
          // },
          // 'task_done':{
          //   async handler(val){
          //     console.log(val);
          //   }, deep: true
          // },
        },
        async mounted() {
          await this.GET_TODOS();
          this.getTodos[0].todos.forEach(element => {
            switch(element.task_type){
              case 'to_do':
                this.$set(this.task_to_do, this.task_to_do.length, element);
                break;
              case 'in_progress': 
                this.$set(this.task_in_progress, this.task_in_progress.length, element);
                break;
              case 'test': 
                this.$set(this.task_test, this.task_test.length, element);
                break;
              case 'done': 
                this.$set(this.task_done, this.task_done.length, element);
                break;
              default:
                console.log(element)
                break;
            }
          })
        },
        async beforeDestroy() {
          let todos = []
          this.task_to_do.forEach(element => {
            element.task_type = 'to_do'
            todos.push(element)
          })
          this.task_in_progress.forEach(element => {
            element.task_type = 'in_progress'
            todos.push(element)
          })
          this.task_test.forEach(element => {
            element.task_type = 'test'
            todos.push(element)
          })
          this.task_done.forEach(element => {
            element.task_type = 'done'
            todos.push(element)
          })
          this.ADD_TODOS(todos)
        },
        computed: {
          ...mapGetters([
            'getTodos'
          ]),
          dragOptions() {
              return {
                  animation: 200,
                  group: "description",
                  disabled: false,
                  ghostClass: "ghost"
              };
          }
        },
        methods: {
           ...mapActions([
             'ADD_TODOS', 'GET_TODOS', 'UPDATE_TODO', 'REMOVE_TODO'
          ]),
          beforeAddNewTask(){
            this.add_new = !this.add_new
            this.task_item = { title: "", task_type: "to_do"}
          },
          addNewTask() {
            this.task_to_do.push(this.task_item);
            this.add_new = !this.add_new
          },
          deleteTask(task_lane, index) {
              this[task_lane].splice(index, 1);
          },
          beforeEditTask(element, name, index){
            this.edit_todo = !this.edit_todo
            this.task_item = element
            this.edit_name = name
            this.edit_index = index
          },
          editTask() {
            this[this.edit_name].splice(this.edit_index, 1, this.task_item)
            this.edit_todo = !this.edit_todo
          },
        }
    };
</script>

<style scoped>
  .button {
    margin-top: 35px;
  }

  .flip-list-move {
    transition: transform 0.5s;
  }

  .no-move {
    transition: transform 0s;
  }

  .ghost {
    opacity: 0.5;
    background: #c8ebfb;
  }

  .list-group {
    min-height: 100vh;
  }

  .list-group-item {
    cursor: move;
  }

  .list-group-item i {
    cursor: pointer;
  }

  .cursor-move {
    cursor: move;
  }

  .border-todo {
    border-left: 5px solid #2fbb91 !important;
  }

  .feature-to-do {
    background-color: #2fbb91;
  }

  .to-do-title {
    background-color: rgb(47, 187, 145);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .border-in-progress {
    border-left: 5px solid #ee9835 !important;
  }

  .feature-in-progress {
    background-color: #ee9835;
  }

  .in-progress-title {
    background-color: #ee9835;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .border-test {
    border-left: 5px solid blueviolet !important;
  }

  .feature-test {
    background-color: blueviolet;
  }

  .test-title {
    background-color: blueviolet;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .border-done {
    border-left: 5px solid green !important;
  }

  .feature-done {
    background-color: green;
  }

  .done-title {
    background-color: green;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .to-do-title {
    background-color: rgb(47, 187, 145);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .bottom-right-radius {
    border-bottom-right-radius: 4px !important;
  }

  .tag-badge {
    border: 1px solid currentColor !important;
    border-radius: 4px !important;
  }

  .bug {
    background-color: red;
  }

  .box-shadow:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14),
    0 1px 10px rgba(0, 0, 0, 0.12) !important;
  }
</style>
